<a href="https://colab.research.google.com/github/smanohar3/gpt/blob/main/Text2SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
_ = !pip install pandas
_ = !pip install langchain=0.0.193
_=  !pip install openai

In [ ]:
import os
import sqlite3
import pandas as pd
from langchain import OpenAI, SQLDatabase, SQLDatabaseChain

In [ ]:
data_path = '/content/sample_data/mtcars.csv'

In [ ]:
df = pd.read_csv(data_path, header=0)
df.head(15)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4

In [ ]:
df_sub = df[['model', 'mpg', 'cyl']]
df_sub.head(10)

               model   mpg  cyl
0          Mazda RX4  21.0    6
1      Mazda RX4 Wag  21.0    6
2         Datsun 710  22.8    4
3     Hornet 4 Drive  21.4    6
4  Hornet Sportabout  18.7    8
5            Valiant  18.1    6
6         Duster 360  14.3    8
7          Merc 240D  24.4    4
8           Merc 230  22.8    4
9           Merc 280  19.2    6

In [ ]:
conn = sqlite3.connect('cars.sqlite')
cur = conn.cursor()

table_name = 'cars'
query = f"""CREATE TABLE IF NOT EXISTS {table_name} (model TEXT, mpg REAL, cyl INTEGER)"""
cur.execute(query)
conn.commit()

df_sub.to_sql(table_name, conn, if_exists='replace', index=False)
conn.commit()

# somehow the header ends up as a database record. Remove them
cur.execute(f"""DELETE FROM {table_name} WHERE model='model';""")
conn.commit()
conn.close()

In [ ]:
!ls | grep cars.sqlite

cars.sqlite

In [ ]:
def read_query(sql):
    conn = sqlite3.connect('cars.sqlite')
    cur = conn.cursor()
    cur.execute(sql)
    rows = cur.fetchall()
    for row in rows:
        print(row)
    conn.close()

In [ ]:
read_query('SELECT * FROM cars LIMIT 10;')

('Mazda RX4', 21.0, 6)
('Mazda RX4 Wag', 21.0, 6)
('Datsun 710', 22.8, 4)
('Hornet 4 Drive', 21.4, 6)
('Hornet Sportabout', 18.7, 8)
('Valiant', 18.1, 6)
('Duster 360', 14.3, 8)
('Merc 240D', 24.4, 4)
('Merc 230', 22.8, 4)
('Merc 280', 19.2, 6)

In [ ]:
db = SQLDatabase.from_uri('sqlite:///cars.sqlite')

In [ ]:
os.environ['OPENAI_API_KEY'] = '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'
llm = OpenAI(temperature=0)

In [ ]:
db_chain = SQLDatabaseChain(llm=llm, database=db, verbose=True)

/usr/local/lib/python3.10/dist-packages/langchain/chains/sql_database/base.py:63: UserWarning: Directly instantiating an SQLDatabaseChain with an llm is deprecated. Please instantiate with llm_chain argument or using the from_llm class method.
  warnings.warn(

In [26]:
db_chain.run('Which model has the highest mpg with the least cyl?')

> Entering new  chain...
Which model has the highest mpg with the least cyl?
SQLQuery:SELECT model, mpg, cyl FROM cars ORDER BY mpg DESC, cyl ASC LIMIT 1;
SQLResult: [('Toyota Corolla', 33.9, 4)]
Answer:The model with the highest mpg with the least cyl is Toyota Corolla.
> Finished chain.

'The model with the highest mpg with the least cyl is Toyota Corolla.'

In [28]:
db_chain.run('Give me the model names whose mpg is more than 18 with cyl 6?')

> Entering new  chain...
Give me the model names whose mpg is more than 18 with cyl 6?
SQLQuery:SELECT "model" FROM cars WHERE "mpg" > 18 AND "cyl" = 6;
SQLResult: [('Mazda RX4',), ('Mazda RX4 Wag',), ('Hornet 4 Drive',), ('Valiant',), ('Merc 280',), ('Ferrari Dino',)]
Answer:Mazda RX4, Mazda RX4 Wag, Hornet 4 Drive, Valiant, Merc 280, Ferrari Dino
> Finished chain.

'Mazda RX4, Mazda RX4 Wag, Hornet 4 Drive, Valiant, Merc 280, Ferrari Dino'

In [25]:
db_chain.run('I need the list of all the models that start with letter M?')

> Entering new  chain...
I need the list of all the models that start with letter M?
SQLQuery:SELECT model FROM cars WHERE model LIKE 'M%';
SQLResult: [('Mazda RX4',), ('Mazda RX4 Wag',), ('Merc 240D',), ('Merc 230',), ('Merc 280',), ('Merc 280C',), ('Merc 450SE',), ('Merc 450SL',), ('Merc 450SLC',), ('Maserati Bora',)]
Answer:The models that start with letter M are Mazda RX4, Mazda RX4 Wag, Merc 240D, Merc 230, Merc 280, Merc 280C, Merc 450SE, Merc 450SL, Merc 450SLC, and Maserati Bora.
> Finished chain.

'The models that start with letter M are Mazda RX4, Mazda RX4 Wag, Merc 240D, Merc 230, Merc 280, Merc 280C, Merc 450SE, Merc 450SL, Merc 450SLC, and Maserati Bora.'